<!-- <div class="container-fluid"> -->
    
    <div class="container-fluid jumbotron bg-info">
        <h1 class="display-4 colorAdjust">Issue Tracking Tool</h1>
        <p class="lead colorAdjust">This is a simple issue tracking site, where you can create a issue and assign to a particular user.</p>
        <hr class="my-4 colorAdjust">
        <p class="colorAdjust">You can view/track issues assigned to you by reporters.
        </p>
    </div>

<!-- </div> -->

<router-outlet></router-outlet>
<br>