  <!-- loader -->
  <ngx-spinner class="myspiner" bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" loadingText="Loading..." type="square-jelly-box">
  </ngx-spinner>
<div class="container">
    <div toastContainer> </div>
  <h6 class="display-4 " style="text-align: center">Register to be our member!!</h6>
  <br>
  <form #createSignupForm="ngForm" (ngSubmit)="signUp()">
    <div class="form-group">
      <label for="exampleInputEmail1">First Name</label>
      <input type="text" class="form-control" [(ngModel)]="firstName" name="firstName" aria-describedby="firstNameHelp" placeholder="First Name"
        required>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Last Name</label>
      <input type="text" class="form-control" [(ngModel)]="lastName" name="lastName" placeholder="Last Name" required>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password" required>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" [(ngModel)]="email" name="email" aria-describedby="emailHelp" placeholder="Email"
        required>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Mobile Number</label>
      <input type="text" class="form-control" [(ngModel)]="mobileNumber" name="mobileNumber" placeholder="Mobile Number" required>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!createSignupForm.form.valid">Submit</button>
  </form>
  <br>
  <p>
    <span class="font-weight-light">Already a member?</span>&nbsp;
    <a href="/" style="text-decoration-line: none">Login</a>
  </p>
</div>